@model OdontoClinic.Models.Consulta
@using(Html.BeginForm("Editar", "Consulta", FormMethod.Post)) {


    @Html.Hidden("id", Model.Id);
    <div class="box col s12">
        <h4 class="center">Marcar Consulta</h4>
        <div class="row">
            <div class="input-field col s6">
                <input value="@Model.Nome" name="nome" id="nome" type="text" class="validate">
                <label for="nome">Nome do Paciente</label>
            </div>
            <div class="input-field col s6">
                <input value="@Model.Celular" name="celular" id="telefone" type="tel" class="validate">
                <label for="telefone">Telefone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input value="@Model.Email" name="email" id="email" type="email" class="validate">
                <label for="email">E-mail</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">

                <input value="@Model.Data.ToString("dd/MM/yyyy")" name="data" id="data" type="text" class="validate">
                <label for="data">Data da Consulta</label>
            </div>
            <div class="input-field col s6">
                <input value="@Model.Data.ToString("HH:mm")" name="hora" id="hora" type="time" class="validate">
                <label for="hora">Hora da Consulta</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <button class="btn" type="submit">Marcar</button>
                <a href="@Url.Action("Index")" class="waves-effect waves-light btn red darken-1 ">Voltar</a>
            </div>
        </div>
    </div>

}

